/*
CSS Global
 */
html
{
    font-family: 'Raleway', sans-serif;
}

body
{
    margin: 0;
}

section
{
    margin: 0 5% 0 5%;
}

/*
CSS des Div
 */

/*
1er bloc
 */
.header
{
    display: flex;
    justify-content: space-between;
    align-items : center;
    margin: 0 24px 16px 24px;
}


/*
2eme bloc
 */
#bandeau
{
    margin-left: 20px;
}

/*
3eme bloc
 */
#container
{
    display: flex;
    margin: 0 18px 0 18px;
}

/*
1ere sous-partie
 */
#hebergement
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 75%;
    height: 672px;
    padding-left: 30px;
    border-radius: 10px;
}

/*
2eme sous-partie
 */
#populaire
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    height: 672px;
    margin-left: 30px;
    padding-left: 30px;
    border-radius: 10px;
}

/*
4eme bloc
 */
#activites
{
    margin: 0 18px 0 18px;
}

/*
5eme bloc
 */
#footer
{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
}


/*
Icone de recherche
 */


#searchIcon
{
    display: none;
}

/*
CSS des classes
 */


.header__lien
{
    display: flex;
    align-items: baseline;
}

.lien__cards
{
    display: flex;
}

.lien__cards a
{
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
    padding-top: 28px;
    border-top: 3px solid white;
    width: 100px;
}

.lien__cards a:hover
{
    display: flex;
    justify-content: center;
    color: #0065FC;
    padding-top: 28px;
    border-top: 3px solid #0065FC;
}

.header__inscrire
{
    font-weight: bold;
}

.header__inscrire a
{
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}


.bandeau__recherche
{
    display: flex;
    border-radius: 10px;
    margin: 12px 0 12px 0;
    border: 1px solid #F2F2F2;
    width: 270px;
}

/*
images de la div recherche
 */
.bandeau__recherche i
{
    background-color: #F2F2F2;
    color: black;
    height: 32px;
    width: 32px;
    border-top-left-radius: 10px;
    border-bottom-left-radius : 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
div filtres
 */
.bandeau__filtres
{
    display: flex;
}

/*
div de chaque filtre
 */
.cardsFiltres
{
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    height: 32px;
    margin: 10px 5px 0 5px;
}

/*
Permet de surligner les filtres
 */
.cardsFiltres:hover {
    color: #0065FC;
    background-color: #DEEBFF;
}

/*
Images lié aux filtres
 */
.cardsFiltres i
{
    height: 32px;
    width: 32px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
Texte lié aux filtres
 */
.cardsFiltres p
{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

/*
Texte en fin de bloc Bandeau
 */
.infoBandeau
{
    display: flex;
    align-items: center;
}

/*
Image en fin de bloc Bandeau
 */
.infoBandeau i
{
    color: #0065FC;
    border: #F2F2F2 solid 1px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}






/*
Classe générale des cartes
 */
.cards
{
    width: 332px;
    height: 224px;
    margin-right: 40px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
    padding: 4px;
    text-decoration: none;
    color: black;
}

/*
Images lié aux cartes
 */
.cards img
{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.cards h4, .cards p, .etoile
{
    margin: 0 0 8px 0;
    padding: 0 0 0 8px;
}

.cardsHebergement
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.infoPopulaire
{
    display: flex;
    justify-content: space-between;
}

.infoPopulaire i
{
    color: black;
    padding-top: 20px;
    padding-right: 40px;
}

.large
{
    margin: 0 38px 48px 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
    padding: 4px;
    height: 146px;
    width: 328px;
}

.large i
{
    color: #0065FC;
}
.large img
{
    display: flex;
    height: 146px;
    width: 130px;
    border-top-left-radius: 10px;
    border-bottom-left-radius : 10px;
    position: absolute;
    object-fit: cover;
}

.large h4, .large div, .large p
{
    padding-left: 150px;
}

.large h4
{
    margin: 8px 0 12px 0;
}
.large p
{
    margin: 0 0 32px 0;
}


/*
Div activites__card
 */
.activites__card
{
    display: flex;
    margin: 0 0 58px 0;
}
/*
Mise en forme des balises H4
 */
.activites__card h4
{
    padding-left: 10px;
}

/*
Div -big
 */
.-big
{
    display: flex;
    flex-direction: column;
    width: 25%;
    border: #F2F2F2 solid 1px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black ;
    box-shadow: 0 2px 4px -2px gray;
}

/*
Images de la div -big
 */
.-big img
{
    width: 100%;
    height: 462px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.-big h4
{
margin: 12px 0 0 0;
}

/*
Div activites__card -small
 */
.-small
{
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 469px;
}

/*
Images de la div activites__card -small
 */

/*
Sous-partie des la div activites__card -small
 */
.part__med
{
    display: flex;
    flex-direction: column;
    height: 235px;
    border-radius: 10px;
    margin: 0 10px 20px 0;
    border: 1px solid #F2F2F2;
    text-decoration: none;
    color: black;
    box-shadow: 0 2px 4px -2px gray;
}

.part__big
{
    height: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 10px 20px 0;
    border: 1px solid #F2F2F2;
    text-decoration: none;
    color: black;
    box-shadow: 0 2px 4px -2px gray;
}

.part__small img
{
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.part__med img
{
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.part__big img
{
    height: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.part__small
{
    height: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 10px 20px 0;
    border: 1px solid #F2F2F2;
    text-decoration: none;
    color: black;
    box-shadow: 0 2px 4px -2px gray;
}

.part__small h4, .part__med h4
{
    margin-top: 12px;
}

/*
Ajustement des liens
 */
.footer_column
{
    padding-right: 400px;
    padding-left: 10px;
}

.footer_column a
{
    text-decoration: none;
    color: black;
}

i.fa-star
{
    color: #0065FC;
}

i.vide
{
    color: #F2F2F2;
}

/*
CSS des élements HTML
 */

/*
Mise en forme e la barre de recherche
 */
input
{
    border: none;
    width: 150px;
    padding-left: 26px;
    font-weight: bold;
}

/*
Mise en forme des boutons
 */
button
{
    color: white;
    background-color: #0065FC;
    border: none;
    width: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius : 10px;
}

/*
CSS responsive Tablette
 */

@media screen and (min-width: 1041px) and (max-width: 1649px) {

    body {
        width: 100%;
    }

    .header {
        width: 95%;
    }


    #hebergement {
        width: 65%;
        height: 955px;
    }

    #populaire {
        width: 35%;
        height: 955px;
    }

    #activites {
        width: 95%;
    }

    #footer {
        width: 100%;
    }

    
    .header__lien
    {
        margin-right: 36px;
    }
    
    .footer_column
    {
        padding-right: 132px;
    }

    .cards
    {
        width: 228px;
    }

    .large
    {
        height: 166px;
        width: 296px;
    }

    .large img
    {
        height: 166px;
    }
}


@media screen and (min-width: 630px) and (max-width: 1040px) {

    body
    {
        width: 100%;
    }

    .header
    {
        width: 95%;
    }

    #container
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin:0 0 0 0;
        width: auto;
    }

    #populaire
    {
        margin-left: 0;
        height: auto;
        border-radius: 0;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    #hebergement
    {
        height: auto;
        background-color: white;
    }

    #activites
    {
        width: 97%;
    }

    #footer
    {
        width: 100%;
        padding-bottom: 12px;
    }

    .header__lien
    {
        margin-right: 36px;
    }
    
    .bandeau__filtres
    {
        display: block;
        width: 208px;
    }

    .footer_column
    {
        padding-right: 76px;
    }

    .cards
    {
        width: 65%;
    }

    .cardsHebergement
    {
        justify-content: center;
    }

    .large
    {
        height: 166px;
        width: 296px;
    }

    .large img
    {
        height: 166px;
    }
}

@media screen and (min-width: 376px) and (max-width: 630px) {

    body
    {
        width: 100%;
    }

    .header
    {
        display: unset;
        margin: 0;
    }

    #container
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin:0 0 0 0;
        width: auto;
    }

    #populaire
    {
        margin-left: 0;
        height: auto;
        border-radius: 0;
        align-items: center;
        width: 100%;
        padding : 0;
    }

    #hebergement
    {
        height: auto;
        background-color: white;
    }

    #activites
    {
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: white;
        margin:0 0 0 24px;
    }


    .activites__card
    {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        width: 93%;
        margin-right: 10px;
    }

    .activites__card a
    {
        text-decoration: none;
        color: black;
    }

    .-big, .-small , .part__med, .part__small, .part__big
    {
        width: 100%;
        align-items: self-start;
        border: 0;
    }

    .-small
    {
        height: 296px;
    }

    .-big, .part__med, .part__small, .part__big
    {
        box-shadow: 2px 2px 2px 2px #F2F2F2;
    }

    .-big h4, .part__med h4, .part__small h4, .part__big h4
    {
        margin: 5px 0 5px 0;
    }

    .part__med, .part__small, .part__big
    {
        height: 150px;
    }

    .-small img, .-big img
    {
        width: 100%;
        height: 110px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    #footer
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header__lien
    {
        display: flex;
        justify-content: center;
        margin-right: 36px;
    }
    .header__logo
    {
        display: flex;
        justify-content: center;
    }

    .bandeau__filtres
    {
        display: block;
        width: 208px;
    }

    .footer_column
    {
        padding-right: 108px;
    }

    .cards
    {
        width: 80%;
    }

    .cardsHebergement
    {
        justify-content: center;
    }

    .large
    {
        height: 166px;
        width: 296px;
    }
    
    .large img
    {
        height: 166px;
    }
}


/*
CSS Responsive Mobile
 */

@media screen and (max-width: 375px) {

    .header
    {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    #bandeau
    {
        padding-left: 12px;
        margin: 0;
    }


    #container
    {
        display: flex;
        flex-direction: column-reverse;
        margin:0 0 0 0;
        width: auto;
    }

    #populaire
    {
        margin-left: 0;
        height: auto;
        width: 375px;
        border-radius: 0;
        padding: 0 0 0 0;
    }

    #hebergement
    {
        height: auto;
        background-color: white;
    }

    #activites
    {
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: white;
        margin:0 0 0 24px;
    }

    #footer
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header__logo
    {
        font-weight: bold;
        color: #0065FC;
    }
    
    .header__logo img
    {
        padding-right: 140px;
    }

    .header__logo
    {
        margin-left: -114px;
    }

    .header__inscrire
    {
        position: absolute;
        bottom: 774px;
        right: 22px;
    }
    
    .lien__cards a
    {
        padding:0 0 10px 0;
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 188px;
    }

    .lien__cards a:hover
    {
        color: #0065FC;
        padding:0 0 10px 0;
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    .bandeau__recherche
    {
        display: flex;
        justify-content: space-between;
        width: 352px;
        height: 52px;
    }

    .bandeau__recherche input
    {
        font-weight: bold;
    }

    .bandeau__recherche i
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 52px;
    }

    #searchIcon
    {
        display: flex;
        background-color: #0065FC;
        color: white;
        border-radius:10px;
    }

    .searchText
    {
        display: none;
    }

    .bandeau__filtres
    {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
        width: 362px;
    }

    .bandeau__filtres h4
    {
        width: 100%;
        margin-bottom: 0;
    }

    .cardsHebergement
    {
        width: 114%;
    }

    .cardsHebergement a
    {
        text-decoration: none;
        color: black;

    }

    .cardsPopulaire
    {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        padding-left: 24px;
    }
    
    .large
    {
        height: 148px;
        width: 91%;
    }

    .large img
    {
        height: 148px;
        width: 120px;
    }

    .footer_column
    {
        padding-right: 0;
        padding-left: 10px;
    }

    .cards
    {
        height: auto;
        width: 100%;
        margin-right: 0;
    }

    .cards p
    {
        margin: 0;
        padding-bottom: 12px;
    }

    .cards h4
    {
       margin: 0;
    }

    .activites__card
    {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        width: 93%;
        margin-right: 10px;
    }

    .activites__card a
    {
        text-decoration: none;
        color: black;
    }

    .-big, .-small , .part__med, .part__small, .part__big
    {
        width: 100%;
        align-items: self-start;
        border: 0;
    }
    
    .-small
    {
        height: 296px;
    }

    .-big, .part__med, .part__small, .part__big
    {
        box-shadow: 2px 2px 2px 2px #F2F2F2;
    }

    .-big h4, .part__med h4, .part__small h4, .part__big h4
    {
        margin: 5px 0 5px 0;
    }

    .part__med, .part__small, .part__big
    {
        height: 150px;
    }

    .-small img, .-big img
    {
        width: 100%;
        height: 110px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

